img {
    display: block;
    height: 20%;
    border: 5px solid lightseagreen;
    margin-bottom: 30px;
}

.subheading {
    border-bottom: 3px solid black;
}

header, img, article {
    border-radius: 0.75em;
}

header, article {
    padding: 0.1em;
    box-shadow: 5px 5px 10px;
}

header {
    text-shadow: 1px 1px 1px grey;
}